{% extends 'SRPSSantaBundle::base.html.twig' %}

{% block body %}
    <h2>Train dates</h2>
    
    {% if not dates %}
        <div class="alert alert-warning">No train dates have been added - click button below</div>
    {% else %}
        {% set count=1 %}
        <table class="table table-striped">
            <tr>
                <th>Day number</th>
                <th>Service date</th>
                <th>Actions</th>
            </tr>
        {% for date in dates %} 
            <tr>
                <td class="lead">
                    <b>{{ count }}</b>
                </td>
                <td class="lead">
                    {{ date.date|date('d/m/Y') }}
                </td>
                <td>
                    <a class="btn btn-info" href="{{ path('admin_dates_edit', {'id': date.id}) }}">
                        <i class="fa fa-gears"></i> Edit</a>
                    <a class="btn btn-danger" href="{{ path('admin_dates_delete', {'id': date.id}) }}">
                        <i class="fa fa-trash-o"></i> Delete</a>                        
                </td>
            </tr>    
            {% set count=count+1 %}
        {% endfor %} 
        </table>
    {% endif %}
    
    <div>
        <a class="btn btn-primary" href="{{ path('admin_dates_edit', {'id': 0}) }}">
            <i class="fa fa-plus-square"></i> New service date</a>
        <a class="btn btn-warning" href="{{ path('admin') }}">
            <i class="fa fa-thumbs-up"></i> Done</a>        
    </div>
{% endblock %}